body{
    background-color: black;
    color: white;
}

header{
    padding: 20px 0;
    background-color: #bbbbbb;
}

nav{
    
    float: right;
    margin-top: 130px;
    margin-right: 120px;
}

nav li a{
    
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-weight: bï¿¼old;
    text-transform: uppercase;
}

nav li{
    transition: 0.3s;
    display: inline-block;
    padding: 10px;
}

nav a:hover{

    color: rgb(10, 239, 255);
}

nav li:hover{
    transform: scale(1.05);
}

.caixa{
    width: 940px;
    margin: 0 auto;
}

.produtos li{
    transition: 0.5s;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 20%;
    border: 2px solid white;
    border-radius: 10px;
    margin: 0 1%;
    padding: 40px 0;
}


.produtos li:hover{
    border-color: rgb(0, 255, 179);
    transform: scale(1.05);
}

.produtos li:active{
    color: green;
}


.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produtos .preco{
    font-size: 22px;
    font-weight: bold;
}

.produtos .desc{
    font-size: 18px;
}

.content{
}

#logofooter{
    position: relative;
    right: 380px;
    top: 25px;
}

footer{
    background: url("imagens/bg.jpg");
    color: rgb(255, 254, 254);
    text-align: center;
    padding: 40px 0;

}

form{
    margin: 40px 0 q;
}


label{
    font-size: 25px;
    width: 100px;
    display: inline-block;
    
}
input{
     padding: 10px 25px;
     width: 50%;
}
button{
      display: inline-block;
      width: 150px;
      padding: 10px;
}
