body{
    background-color:#000000;
}
nav li{
    display: inline-block;
    padding: 10px;
}
nav li a{
        text-decoration: none ;
        color:#000000;
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;

}
header{
    background-color: #ffffff;
    padding: 20px;

}
.content{
    width:  940px;
    margin:0 auto;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 0 1%;
    padding: 30px 0;

}

nav a:hover{
    color: #ff0000;
    text-decoration: underline;
}
.produtos li:hover{
    border-color: #000000;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}
.produtos .preco{
    font-size: 22px;
    font-weight: bold;
}
.produtos .desc{
    font-size: 18px;
}
.produtos li:active {
       border-color: black;
}
.produtos li:houver h2{
       font-size: 35px;
}
 footer{
    text-align: center;
    background:  url("imafens/bg.jpg");
    padding: 40px 0;
    color: #ffffff
}
