body{
    background-color:#a70000;
}
nav li{
    display: inline-block;
    padding: 10px;
}
nav{
        text-decoration: none ;
        color:#ff0000;
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;
}
header{
    background: #ff0000
    padding: 20px 0;
}
.content{
    width:  940px;
    margin:0 auto;
}
nav{
    float:right;
    margin-top: 70px;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    border: 2px solid#000;
    border-radius: 10px;
    margin: 0 1%;
    padding: 30px 0;
}

nav a:hover{
    color: #0051ff;
    text-decoration: underline;
}
.produtos li:hover{
    border-color: #0051ff;
}




.produtos h2{
    font-size: 30px;
    font-weight: bold;
}
.produtos .preco{
    font-size: 22px;
    font-weight: bold;
}
.produtos .desc{
    font-size: 18px;
}
.produtos li:active {
       border-color: black;
}
.produtos li:houver h2{
       font-size: 35px;
}
