body{
	background: #cccccc
}
p{
	text-align: center;
} 
em strong{
	color: 0000ff;
}
h1{ 
	color: #00ff00;
} 
#banner {
    width: 100%;
}
.items{
	font-style:italic;
	list-style:none;
}
#beneficios{
	width:80%
}